@use 'genericos.scss' as *;

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  /* Asegura que el cuerpo ocupe toda la altura */
}

body {
  background-color: $amarillo_footer;
  font-family: $fuenteTexto;
  color: $gris;
}

a {
  text-decoration: none;
  color: $gris;
}

.boton {
  @include boton;

  >a {
    font-family: $fuenteTitulos;
    margin-top: -7px;
    color: $amarillo_fondo;
    font-size: x-large;
  }
}

h1{
 font-family:  $fuenteTitulos;
 font-size: 5rem;
}

#info{
  font-size: 2rem;
}


.navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-toggler {
  position: absolute;
  right: 15px;
  top: 15px;
  outline: none;
  /* Elimina el borde cuando el botón está enfocado */
  box-shadow: none;
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  /* Elimina el borde de enfoque */
  box-shadow: none;
  /* Elimina cualquier sombra en foco */
  border: none;
}

.hidden {
  display: none;
}



@media (min-width: 576px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
  }

  .texto-info{
    margin-left: 10vw;
  }
}





.custom-menu {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  margin: 0;
  /* Elimina el margen predeterminado */
  padding: 0;
  /* Elimina el padding predeterminado */
  list-style: none;
  /* Elimina los estilos de lista */
}

/* Aplicar height: 100vh solo en pantallas pequeñas (menú colapsado) */
@media (max-width: 576px) {
  .custom-menu {
    height: 100vh;
    /* Ocupa el 100% del alto de la ventana */
  }
}


.boton-menu {
  @include boton;
}






.navbar {
  @include menu_pc;

}


footer {
  min-height: 15vh;
}

.contenido {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  background-color: $amarillo_fondo;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.letra:nth-child(2),
.letra:nth-child(6) {
  color: $rojo;
}

.letra:nth-child(3),
.letra:nth-child(7) {
  color: $amarillo;
}

.letra:nth-child(4),
.letra:nth-child(9) {
  color: $azul;
}

.letra:nth-child(5),
.letra:nth-child(8) {
  color: $verde;
}

.texto-animado {
  font-size: 8vw;
  font-family: $fuenteTitulos;
  text-align: center;
  /* Centra el texto horizontalmente */
}

.texto-animado span {
  position: relative;
  display: inline-block;
  transition: transform 0.1s ease-in-out;
}

.texto-animado span:hover {
  transform: scale(1.5);
}





.enlace-con-subrayado {
  position: relative;
  display: inline-block;
}


.subrayado1 {
  @include subrayado('/img/botones/linea1.png');

}

.subrayado2 {
  @include subrayado('/img/botones/linea2.png');


}

.subrayado3 {
  @include subrayado('/img/botones/linea3.png');


}

.enlace-con-subrayado:hover .subrayado1,
.enlace-con-subrayado:hover .subrayado2,
.enlace-con-subrayado:hover .subrayado3 {
  opacity: 1;
}


.enlace-bolita {
  position: relative;
  display: inline-block;
}

.bolitaI {
  @include bolita('left');
}

.bolitaD {
  @include bolita('right');
}

.enlace-bolita:hover .bolitaI,
.enlace-bolita:hover .bolitaD {
  opacity: 1; 
}





.logo {
  font-family: sans-serif; /* Usa la fuente que prefieras */
  font-size: 3rem; /* Tamaño grande para el logo */
  overflow: hidden; /* Evita que el contenido se vea antes de tiempo */
  display: inline-block;
}


/* Contenedor de las letras */
.texto-animado-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Las letras por defecto, solo el <H> visible */
.texto-animado-menu .letra {
  opacity: 0; /* Las letras estarán ocultas por defecto */
  transition: opacity 0.3s ease; /* Transición para mostrar las letras */
}

/* El primer span con el <H> visible */
.texto-animado-menu span:first-child, /* < */
.texto-animado-menu span:nth-child(2), /* H */
.texto-animado-menu span:nth-child(3)  /* / */
{
  opacity: 1; /* Este ya es visible */
}

/* Cuando se hace hover, las letras aparecerán */
.logo:hover .letra {
  opacity: 1; /* Las letras se muestran */
}

/* Para el efecto de expansión: De izquierda a derecha */
.logo:hover .texto-animado-menu {
  animation: expand 0.6s forwards;
}

/* La animación que expande el texto */
@keyframes expand {
  0% {
    transform: translateX(-100%); /* Empieza fuera de la pantalla */
  }
  100% {
    transform: translateX(0); /* Se mueve a su posición original */
  }
}



