@use 'genericos.scss' as *;

body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Asegura que el cuerpo ocupe toda la altura */
}

body {
  background-color: $amarillo_footer;
  font-family: $fuenteTexto;
  color: $gris;
}

a {
  text-decoration: none;
  color: $gris;
}
.navbar{
  min-height: 10vh;
  @include menu_pc;
}

footer{
  min-height: 20vh;
}
.contenido {
  flex-grow: 1; /* Hace que el contenido ocupe todo el espacio restante */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh; /* Asegura que ocupe el espacio restante */
  background-color: $amarillo_fondo;
  border-bottom-left-radius: 25px; /* Bordes redondeados en la parte inferior */
  border-bottom-right-radius: 25px; /* Bordes redondeados en la parte inferior */
}

.letra:nth-child(2),
.letra:nth-child(6) {
  color: $rojo;
}

.letra:nth-child(3),
.letra:nth-child(7) {
  color: $amarillo;
}

.letra:nth-child(4),
.letra:nth-child(9) {
  color: $azul;
}

.letra:nth-child(5),
.letra:nth-child(8) {
  color: $verde;
}

.texto-animado {
  font-size: 8vw;
  font-family: $fuenteTitulos;
  text-align: center;
  /* Centra el texto horizontalmente */
}

.texto-animado span {
  position: relative;
  display: inline-block;
  transition: transform 0.1s ease-in-out;
}

.texto-animado span:hover {
  transform: scale(1.5);
}

