@use 'genericos.scss' as *;

body {
  background-color: $amarillo_footer;
  font-family: $fuenteTexto;
  color: $gris;
}

.contenedor {
  background-color: $amarillo_fondo;
  min-height: 75vh;
  display: flex;
  /* Agrega display: flex */
  flex-direction: column;
  /* Organiza elementos en columna */
  align-items: center;
  /* Centra elementos horizontalmente */
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.navbar {
  @include menu_pc;
}

.footer {
  font-family: $fuenteTexto;
  color: $gris;
  background-color: $amarillo_footer;
}

.logo {
  min-height: 60vh;
}

a {
  text-decoration: none;
  color: $gris;
}

.letra:nth-child(2),
.letra:nth-child(6) {
  color: $rojo;
}

.letra:nth-child(3),
.letra:nth-child(7) {
  color: $amarillo;
}

.letra:nth-child(4),
.letra:nth-child(9) {
  color: $azul;
}

.letra:nth-child(5),
.letra:nth-child(8) {
  color: $verde;
}

.texto-animado {
  font-size: 8vw;
  font-family: $fuenteTitulos;
  text-align: center;
  /* Centra el texto horizontalmente */
}

.texto-animado span {
  position: relative;
  display: inline-block;
  transition: transform 0.1s ease-in-out;
}

.texto-animado span:hover {
  transform: scale(1.5);
}

.boton {
  background-image: url('./../../img/boton.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 180px;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  color: $amarillo_fondo;
  text-decoration: none;

  >a {
    margin-top: -7px;
    color: $amarillo_fondo;
    font-size: x-large;
  }
}