@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Asegura que el cuerpo ocupe toda la altura */
}

body {
  background-color: #FFD87F;
  font-family: "Itim";
  color: #455A64;
}

a {
  text-decoration: none;
  color: #455A64;
}

.boton {
  background-image: url("/img/botones/boton.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 180px;
  height: 60px;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}
.boton > a {
  font-family: "Lilita One";
  margin-top: -7px;
  color: #FEFFEB;
  font-size: x-large;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-toggler {
  position: absolute;
  right: 15px;
  top: 15px;
  outline: none; /* Elimina el borde cuando el botón está enfocado */
  box-shadow: none;
  border: none;
}

.navbar-toggler:focus {
  outline: none; /* Elimina el borde de enfoque */
  box-shadow: none; /* Elimina cualquier sombra en foco */
  border: none;
}

.hidden {
  display: none;
}

@media (min-width: 576px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
  }
}
.custom-menu {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin: 0; /* Elimina el margen predeterminado */
  padding: 0; /* Elimina el padding predeterminado */
  list-style: none; /* Elimina los estilos de lista */
}

/* Aplicar height: 100vh solo en pantallas pequeñas (menú colapsado) */
@media (max-width: 576px) {
  .custom-menu {
    height: 100vh; /* Ocupa el 100% del alto de la ventana */
  }
}
.boton-menu {
  background-image: url("/img/botones/boton.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 180px;
  height: 60px;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

.navbar {
  font-family: "Lilita One";
  font-size: x-large;
  background-color: #FEFFEB;
}

footer {
  min-height: 20vh;
}

.contenido {
  flex-grow: 1; /* Hace que el contenido ocupe todo el espacio restante */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh; /* Asegura que ocupe el espacio restante */
  background-color: #FEFFEB;
  border-bottom-left-radius: 25px; /* Bordes redondeados en la parte inferior */
  border-bottom-right-radius: 25px; /* Bordes redondeados en la parte inferior */
}

.letra:nth-child(2),
.letra:nth-child(6) {
  color: #EF5350;
}

.letra:nth-child(3),
.letra:nth-child(7) {
  color: #FFB300;
}

.letra:nth-child(4),
.letra:nth-child(9) {
  color: #06AAF4;
}

.letra:nth-child(5),
.letra:nth-child(8) {
  color: #8CC34C;
}

.texto-animado {
  font-size: 8vw;
  font-family: "Lilita One";
  text-align: center;
  /* Centra el texto horizontalmente */
}

.texto-animado span {
  position: relative;
  display: inline-block;
  transition: transform 0.1s ease-in-out;
}

.texto-animado span:hover {
  transform: scale(1.5);
}

/*# sourceMappingURL=style.css.map */
